@model DataAccess.Models.Page

@Html.HiddenFor(model => model.PageId)

 @Html.Raw(Model.Content)
    
                        
@*
    <div class="col-lg-12">


        <div class="card shadow mb-4">


            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">

                        <dl class="row">

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PageId)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PageId)
                            </dd>

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PageStatus)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PageStatus)
                            </dd>

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PageTitle)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PageTitle)
                            </dd>


                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Content)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.Raw(Model.Content)
                            </dd>
                        </dl>

                    </div>
                </div>
            </div>
        </div>
    </div>
*@
